*{
     padding:0;
     margin:0;
     font-family: sans-serif;
}

body{
background-color: black;
color: white;


}

nav {
    padding: 5px 20px;
    margin: 3px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

#A h1 {
    color: white;
    font-size: 30px;
}

#B ul {
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

}

#B ul li a {
    text-decoration: none;
    color: white;
}

#C {
    width: 200px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#bt1 button {
    width: 100px;
    font-size: 20px;
    text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 20px;
}

#bt2 button {
    width: 100px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
}

main{
    height: 90vh;
    
    background-image: url("https://images3.alphacoders.com/135/1350069.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#con{
    height: 300px;
    width: 500px;
    margin: 50px auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

#image{
    height: 300px;
    width: 300px;
    margin: 50px auto;
    background: linear-gradient(rgba(52, 179, 13, 0.167),rgba(247, 209, 18, 0.308));
    background-image: url("./atmospher123.gif");
    background-size: cover;
    border-radius: 800px;
}